.hero__h1 {
  white-space: nowrap;
  justify-content: center;
  font-size: 12.5em;
  font-weight: 500;
  line-height: .75;
  display: flex;
  position: relative;
}

.hero__h1-start {
  justify-content: flex-end;
  width: 1.5256em;
  display: flex;
  overflow: hidden;
}

.hero__h1-end {
  justify-content: flex-start;
  width: 1.525em;
  display: flex;
  overflow: hidden;
}

.hero__letter {
  display: block;
  position: relative;
}

@media screen and (max-width: 991px) {
  .hero__h1 {
    font-size: 9em;
  }
}

@media screen and (max-width: 767px) {
  .hero__h1 {
    font-size: 5.5em;
  }
}

