*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: hsl(0 0% 4%);
  color-scheme: dark only;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: system-ui, -apple-system, sans-serif;
}


#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  --grid-size: 45px;
}
