*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: hsl(0 0% 4%);
  color-scheme: dark only;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: system-ui, -apple-system, sans-serif;
}

body::before, body::after {
  --size: 45px;
  --line: color-mix(in hsl, canvasText, transparent 80%);
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      calc(var(--size) * 0.36) 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0%
      calc(var(--size) * 0.32) / var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 50%, white);
  top: 0;
  left: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

body::after {
  --line: color-mix(in hsl, #6c6c6c, transparent 20%);
  mask: linear-gradient(-20deg, transparent 50%, white);
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  --grid-size: 45px;
}
