* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  font-family: PP Neue Montreal, Arial, sans-serif;
  color: #f4f4f4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  min-height: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

